[uwsgi]
master = true
socket = /tmp/uwsgi.sock
chmod-socket = 666
py-autoreload = 1
# app.py内にてapp = Flask(__name__)と定義
callable = app
module = app
wsgi-file = app.py
chdir = {{ flask_app_directory }}
# DBファイルのパス
env = DB_PATH={{ db_file_path }}
# ウェブアプリを公開するIPアドレスもしくはドメイン(Twitterカードにて使用する"og:image"は絶対パスのみ使用できため)
env = DOMAIN={{ flask_app_domain }}
# サイトの説明に用いる、作者のツイッターアカウント
env = TWITTER_USER_NAME={{ twitter_user_name }}
# ログ出力先
logto = {{ uwsgi_log_file_path }}
